{% extends "base.html" %}

{% block page_title %}About Me{% endblock %}

{% block content %}
<h3>Who I am</h3>
<ul>
    <li>My name is Ian</li>
    <li>I live in Toronto, Ontario, Canada</li>
    <li>I spend a few hours most weekdays working at <a href="https://www.capitalone.ca/">Capital One</a> as a Data Scientist, where I have:
    <ul>
        <li>Deployed a few credit risk models in Python</li>
        <li>Built some data ETL pipelines</li>
        <li>Coded up some Python packages (shh, they're not open source... yet)</li>
        <li>Opened a tonne of GitHub issues</li>
    </ul>
    </li>
    <li>I do data science, analysis, visualizations, ruminations, etc.</li>
    <li>I think maps are neat too, so I try to do some neat things with maps</li>
</ul>

<h3>What else I do</h3>
<p>I do lots of other things, like parenting, cooking, brewing, sleeping, running, soccering, weighlifting, crossword making, hiking, <a href="https://github.com/theianrobertson/sourdough">sourdough baking</a>, reading, gardening, biking, ...</p>

<h3>Technologies I've worked with</h3>
<h5>The new stuff I've been playing with:</h5>
<ul>
    <li>Redshift</li>
    <li>Snowflake</li>
    <li>Bokeh</li>
    <li>AWS</li>
    <li>D3.js</li>
    <li>Hive/Impala</li>
    <li>PySpark</li>
</ul>
  
<h5>Other stuff I use almost every day:</h5>
<ul>
    <li>SQL (Teradata mostly these days)</li>
    <li>Python (Pandas, Numpy, Flask, matplotlib, Luigi, etc.)</li>
    <li>MS Excel</li>
    <li>Linux/Unix shell/CLI</li>
    <li>Git (and its hub)</li>
    <li>Javascript/HTML/CSS</li>
    <li>vim and/or Sublime, depending on OS</li>
    <li>Photoshop/GIMP</li>
</ul>
  
<h5>Other things I've used in the past, some of which I am pleased to be rid of:</h5>
<ul>
    <li>SAS (Mainframe & otherwise)</li>
    <li>MS Access (built a few CRM front/back-ends)</li>
    <li>VBA</li>
    <li>JCL</li>
    <li>Neo4j</li>
    <li>MongoDB</li>
    <li>Geocities website development (my previous personal page was on geocities.  Don't judge.)</li>
</ul>


<h3>How to find me</h3>
  <p>Here's my <a href="https://github.com/theianrobertson">github</a>, <a href="https://twitter.com/ianrobertson85">twitter</a>, and <a href="ca.linkedin.com/in/ianrobertson85">linkedin</a> if you want to get in touch.</p>
  
<h3>The site</h3>
<ul>
    <li>This site is made with a neato static flask page generator that I found <a href="http://www.stevenloria.com/hosting-static-flask-sites-for-free-on-github-pages/">on the internet</a></li>
    <li>The theme is based off bootstrap, from <a href="http://bootswatch.com">Bootswatch</a></li>
</ul>

{% endblock %}
