{% extends "base.html" %}

{% block page_title %}About Me{% endblock %}

{% block content %}
<div class="text-center">
  <h1>About Me!</h1>
  <p>My name is Ian.</p>
  <p>I live in Toronto.</p>
  <p>I like data and maps and stuff.</p>
  <p>This site is made with a neato static flask page generator that I found <a href="http://www.stevenloria.com/hosting-static-flask-sites-for-free-on-github-pages/">on the internet.</a></p>
  <p>The theme is based off bootstrap, from <a href="http://bootswatch.com">Bootswatch</a>.</p>
  <p>Here's my <a href="https://github.com/theianrobertson">github</a> and <a href="ca.linkedin.com/in/ianrobertson85">linkedin</a>.</p>
</div>

{% endblock %}
