{% extends "base.html" %}

{% block page_title %}Big McLargeHuge{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<h1>Big McLargeHuge</h1>
  <p>
  I was toying around with the idea of building a Twitter bot recently, to go along with my profile picture updater.  At a time that was later than I should have been awake, I decided that programmatically generating <a href="http://mst3k.wikia.com/wiki/List_of_Nicknames_for_Dave_Ryder">nicknames for Dave Ryder</a> of Mystery Science Theater 3000 fame would be a fun project.
  </p>
  <p>
  Then I found out that <a href="https://twitter.com/spacemutinybot">SOMEONE ALREADY DID IT</a>.
  </p>
  <p>
Either way, I had already completed most of the work:
<ul>
<li>Googling the above-linked list</li>
<li>Going to <a href="http://www.thesaurus.com/">Thesaurus.com</a> and trying to find similar word-chunks</li>
<li>Creating a very simple script to randomly combine words together into names</li>
</ul>
  </p>
  <p>
So I didn't put it up on Twitter, but here's my <a href="https://github.com/theianrobertson/big-mc-large-huge">code</a>.  And a sampling of the names I generated that I found funny:
<ul>
<li>Flash FleshBlast!</li>
<li>Bulk McMeatSlab!</li>
<li>Buck VanderStrong!</li>
<li>Hunk FizzleChunk!</li>
<li>Peck SteakFlesh!</li>
<li>Wedge SpeedBeef!</li>
</ul>
  <p>
  <p></p>
  <p></p>
  <p></p>
  <p>...that's it</p>
{% endblock %}



