{% extends "base.html" %}
{% block page_title %}Ideas{% endblock %}
{% block content %}
<h1>Ideas</h1>
<p>A while back I was recently reading a <a href="https://news.ycombinator.com/item?id=10942314">post</a> on Hacker News pointing to a <a href="http://grahamwahlberg.com/business-ideas/">page</a> talking about "open-sourcing*" one's ideas for businesses (and smaller ideas).  The thought being two-fold:</p>
<ol>
  <li>Just <em>having</em> an idea isn't worth much, if at all.  Something like 99.9% of what makes a successful company comes in the execution, not just the idea</li>
  <li>Most of your ideas come out of a need you've experienced yourself.  If someone else takes the idea and runs with it, you may wind up on the winning end anyway, because your pain point could be solved.</li>
</ol>
<p>I also read a good opinion piece about <a href="http://jessicaabel.com/2016/01/27/idea-debt/">"Idea Debt"</a>, i.e. when you waste your time thinking too much about the future instead of getting things done.</p>
<p>As such, I figured I'd share out ideas that have been bumping around in my head for a while, so that either a) someone else can run with it and I'll benefit, or at least b) I can write it down and move on to other things.  Here's my list**:</p>

<h2>The Forgetful Gatekeeper</h2>
<p>A tool to lock yourself out of a password-accessed website or program.  Here's my thought:</p>
<ul>
  <li>You enter a passphrase, and a date you want to be locked out until</li>
  <li>A password is generated and copied to your clipboard for you</li>
  <li>You paste the generated password in to the "new password" field of a site (let's say: Facebook)</li>
  <li>The tool won't give you the password back until you hit the date, and re-enter your passphrase.</li>
</ul>
<p>Obviously this wouldn't stand up to password resets by email/hints, but it could be cool for when you really want to focus for a while, or kick a habit cold turkey</p>

<h2>SKU-level receipt data</h2>
<p>Some company is going to solve this - access to customers and companies to item-level receipt data.  I feel like this is something that Mastercard/Visa will eventually figure out, where there could be a model like: Retailer provides item-level info in exchange for the ability to push promotional material, credit/debit issuer gets item-level info for analytics.  Benefits are:</p>
<ul>
  <li>I can budget more granularly (esp. at the grocery store)</li>
  <li>If I want to track the price I'm paying for something over time, I could easily extract that info (For me it'd be something silly like I'd want to track how much my peanut butter bill on a month-to-month basis)</li>
</ul>

<h2>Talk to Me</h2>
<p>This idea isn't full fleshed out and I think there may be two separate things here, but here's what I'm thinking about:  I live and interact in a little bubble, wherein most people are pro-choice, believe in global warming, left-leaning, upper-middle class, relatively intelligent, etc... I'm also a guy that knows very little about what's happening in Syria, or Crimea, or France, or Australia.  What if I could go online and find someone that wants to talk on the other side of an issue?  Like I say "Hi, I'd like to talk to someone that thinks everyone should be able to get a gun", and they match me up.  Then we could just chat about the different sides of the issue.</p>

<h2><a href="FeeFieFiddly.io">FeeFieFiddly.io</a></h2>
<p>Start a website for banjo enthusiasts and call it Fee-Fie-Fiddly.io.  That's... that's it.</p>

<h2>Delay the Internet</h2>
<p>If I'm watching football on PVR, I would love to be able to follow my fantasy scores in "non-real time", i.e. if I'm watching the 1:00 game at 4:00, I want my fantasy scores to only show me what's happened up until that point.  Ditto my Twitter feed.  Otherwise the results are spoiled!</p>



<small>*Note, I'm giving up any rights to make any claim about any of these ideas if you take it and run with it.  I'm not a lawyer, but maybe if you wind up taking an idea of mine and building a billion-dollar business, you could just buy me dinner some time or something.</small>
<small>**Note, I'll probably end up adding to this list when I'm in the middle of working on something else, and I need to get an idea out so I can move on</small>
{% endblock %}
