{% extends "base.html" %}
{% block content %}
<h1>Hi.</h1>
I'm Ian, and this is my little corner of the internet.  Check out my "About Me" section above if you'd like some more info.

<h2>Things I've put on the internet</h2>

<ul class="page-list">
  <li>2017-12-09 <a href="/everyaddress/">Every Toronto Address</a> - Twitter bot with pictures of every street address in Toronto</li>
  <li>2017-08-30 <a href="/apply/">DataFrame.apply Considered Harmful</a> - Investigations of efficiency of Pandas.DataFrame.apply</li>
  <li>2016-07-13 <a href="/bigmclargehuge/">Big McLargeHuge</a> - An aborted MST3K-inspired Twitter bot</li>
  <li>2016-03-30 <a href="/torontotransit/">Toronto Transit Times</a> - Colouring a map of Toronto based on how long it takes you to get somewhere on transit</li>
  <li>2016-03-21 <a href="/konigsberg/">Königsberg</a> - Solving the Seven Bridges of Königsberg problem with Neo4j</li>
  <li>2016-02-28 <a href="/fat/">Fat</a> - How much extra weight is there?</li>
  <li>2016-02-17 <a href="/statscan/">Stats Canada</a> - Who has more followers, Stats Canada (real) or Stats Canada (fake)?</li>
  <li>2016-02-09 <a href="/fearboners/">Fear Boners</a> - An in-depth analysis of why I'm so great at fantasy football</li>
  <li>2016-01-15 <a href="/profilepyc/">Profile Pyc</a> - updating my profile picture with me holding today's newspaper every day</li>
  <li>2016-01-01 <a href="/foxy/">Foxy Shazam</a> - checking out YouTube views after a major collaboration</li>
  <li>2015-12-16 <a href="/lotto/">Lotto</a> - an analysis of why I always throw my money away on the lottery (work in progress)</li>
  <li>2015-11-03 <a href="/voronoi/">Voronoi</a> - a diagram of Toronto Coffee Shops</li>
  <li>2015-10-05 <a href="/flights/">Flights</a> - a visualization I built for a datavis competition at work, showing all flights into/out of Virginia for a month in 2015.</li>
</ul>

{% endblock %}
