{% extends "base.html" %}
{% block content %}
<h1>Hi.</h1>
I'm Ian, and this is my little corner of the internet.  Check out my "About Me" section above if you'd like some more info.

<h2>Things I've put on the internet</h2>

<ul class="page-list">
  <li>2016-02-17 <a href="/statscan/">Stats Canada</a> - Who has more followers, Stats Canada (real) or Stats Canada (fake)?</li>
  <li>2016-02-09 <a href="/fearboners/">Fear Boners</a> - An in-depth analysis of why i'm so great at fantasy football</li>
  <li>2016-01-15 <a href="/profilepyc/">Profile Pyc</a> - updating my profile picture with me holding today's newspaper every day</li>
  <li>2016-01-01 <a href="/foxy/">Foxy Shazam</a> - checking out YouTube views after a major collaboration</li>
  <li>2015-12-16 <a href="/lotto/">Lotto</a> - an analysis of why I always throw my money away on the lottery (work in progress)</li>
  <li>2015-11-03 <a href="/voronoi/">Voronoi</a> - a diagram of Toronto Coffee Shops</li>
  <li>2015-10-05 <a href="/flights/">Flights</a> - a visualization I built for a datavis competition at work, showing all flights into/out of Virginia for a month in 2015.</li>
</ul>
{% endblock %}
